<div class="container">
<h4>References</h4>
<br>

<div class="container">
<h6><strong> Joseph Esquivel </strong></h6>
  <p> jesquivel@hau.edu.ph </p>
    <p> College Professor</p>
</div>
<div class="container">
  <h6><strong> Dr. Alma Theresa Manaloto </strong></h6>
    <p> atmanaloto@hau.edu.ph </p>
      <p> College Professor</p>
    </div>
  <div class="container">
    <h6><strong>Ms. Everly Chua </strong></h6>
      <p> echua@hau.edu.ph  </p>
        <p> College Professor</p>
  </div>
</div>