.container {
  width: 100%;
}
h4 {
  text-align: center;
}

.Front{
  background-color: #69d2f542;
}
.web{
  background-color: #69d2f542;
}
.com{
  background-color:#69d2f542;
}
.FES {
  width: 90%;
  background-color: #44a8eb;
}
.WD {
  width: 80%;
  background-color: #44a8eb;
}
.CS {
  width: 65%;
  background-color: #44a8eb;
}

.skills {
  text-align: right;
  color: white;
}
hr {
  position: relative;
  border: none;
  height: 5px;
  background-color: black;
 
}